/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 320px;
    text-align: center;
    background-color: whitesmoke;
}

.nav-bar {
    height: 30px;
}
.fa {
    text-decoration: none;
    color: black;
}
#header-icons {
    font-size: 25px;
    letter-spacing: 10px;
    text-align: right;
}

.content-wrapper {
    box-shadow: inset 0px 10px 10px -7px #ccc, inset 0px -10px 10px -7px #ccc;
    height: 423px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.white-box {
    background-color: #dbe9ee;
    width: 288px;
    height: 436px;
    margin-bottom: 16px;
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 0px;
    border-radius: 4px;
}
.header-box {
    display: flex;
    background-color: #dbe9ee;
    width: 288px;
    height: 80px;
    margin: 16px;
    border-radius: 4px;
}
.modal-header {
    color: #4a6fa5;
    display: block;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 25px 10px;
    padding-top: 12.5px;
}

.current-website {
    color: #4a6ea575;
    display: block;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 1px solid #98cadf;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 20px;
}

.current-website input[type="text"]{
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
    width: 100%;
    outline: none;

}

.block-button {
    background-color: #ff4848;
    color: white;
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin-top: 30px;
    transition: #9dd1ff 200ms ease-in-out;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
}
.unblock-button {
    background-color: #166088;
    color: white;
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin-top: 30px;
    transition: #9dd1ff 200ms ease-in-out;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
}
#blockedList{
    width: 213px;
    height: 70px;
 display: block;
 padding-left: 50px;
 text-align: left;
 overflow-y: scroll;
    
}


.footer {
    display: flex;
    width: 100%;
    height: 64px;
    flex-direction: row;
    background-color: whitesmoke;
}

